:root {
	--black0: #0f0f0f;
	--black1: #161616;
	--white1: #DDDDDD;
	
	--linkGreen: #198c08;
	--linkGreen2: #105905;
}

body {
	margin: 0;
	font-family: hack;
	color: var(--white1);
	background-color: var(--black1);
}

/**
	LINKS
**/
a:link {
	color: var(--linkGreen);
	text-decoration: none;
}
a:visited {
	color: var(--linkGreen2);
	text-decoration: none;
}
a:hover, a:active {
	color: var(--white1);
}

.centered-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	height: 60px;
	background-color: var(--black0);
}
.headerItm {
	align-self: center;
	padding: 7px;
}

#welcome {
	width: 60vw;
	text-align: center;
}
#name {
	margin-block: 0;
	font-weight: normal;
	font-size: 4em;
}
#quickAbout {
	font-size: 1.3em;
}