/** Source Code Pro font import **/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/**
 * UNIVERSAL STYLE
 */
* {
	font-family: "Source Code Pro", "Courier New", monospace;
	font-weight: 100;
}
::selection, ::-moz-selection {
	color: var(--ik-highlight-translucent);
}

/**
 * THEME-MACHINE STYLES
 */
.bg {
	background-color: var(--ik-background1);
}
.bg-alternate {
	background-color: var(--ik-background2);
}
.fg {
	color: var(--ik-foreground1);
	fill: var(--ik-foreground1);
}
.fg-alternate {
	color: var(--ik-foreground2);
	fill: var(--ik-foreground2);
}

/**
 * GENERAL STYLE
 */
.jumbotron {
	width: 767px;
	max-width: 100%;
}
#page-content {
	margin-top: 25vh;
}
.section-label {
	font-weight: 300;
	font-size: xxx-large;
}
.section-rule {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5px;
	margin-bottom: 5px;

	border: none;
	border-top: 2px solid var(--ik-foreground2);
}
.nav-link {
	color: var(--ik-foreground2) !important;
	font-weight: 300;
}
.nav-link:hover {
	color: var(--ik-foreground1) !important;
	font-weight: 400;
}

