/** Source Code Pro font import **/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
	--ik-foreground: #ffffff;
	
	--ik-background1: #141414;
	--ik-background2: #0f0f0f;
	
	--ik-highlight: rgba(53, 163, 34, .35);
	
	--ik-monospace-font: 'Source Code Pro', 'Courier New', monospace;
}
body {
	font-family: var(--ik-monospace-font);
	background-color: var(--ik-background1);
	
	color: var(--ik-foreground);
}
::selection {
  background: var(--ik-highlight);
}
::-moz-selection {
  background: var(--ik-highlight);
}
.open-logo {
	height: 25vh;
	width: 25vw;
	margin-left: 37.5vw;
	margin-right: 37.5vw;
	margin-top: 37.5vh;
	margin-bottom: 37.5vh;
}
.delay-half-s {
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.delay1s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.fg-button {
	background-color: transparent;
	border: 2px solid var(--ik-foreground);
	color: var(--ik-foreground);
}
.bg-darker {
	background-color: var(--ik-background2) !important;
}
.home-splash {
	margin-top: 30vh;
	width:1000px;
	max-width: 90%;
	display: block;
}
.section-rule {
	border: 1px solid var(--ik-foreground);
	width: 65%;
	opacity: .25;
}
.section-header {
	font-size: 4rem;
	font-weight: 100;
}
.section-content {
	font-size: 1.5rem;
	font-weight: 100;
}
