/**
 * This stylesheet provides theming variables to the main style sheet
 */
:root {
	--ik-foreground1: #ffffff;
	--ik-foreground2: #8d8d8d;
	
	--ik-background1: #141414;
	--ik-background2: #0f0f0f;
	
	--ik-nav-button-border: rgba(255, 255, 255, .2);
	--ik-nav-button-center: rgba(255, 255, 255, .55);

	--ik-highlight: rgba(53, 163, 34, 1);
	--ik-highlight-translucent: rgba(53, 163, 34, .35);

	--ik-monospace-font: 'Source Code Pro', 'Courier New', monospace;
}